<div class="modal fade" id="createPlayerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createNationModalLabel">Create new player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create-player-form" method="POST" action="/players">
                    <div class="mb-3">
                        <label class="col-form-label">Name:</label>
                        <input type="text" class="form-control" name="name">
                        <p class="message-error"></p>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Description:</label>
                        <textarea type="text" class="form-control" name="description"></textarea>
                        <p class="message-error"></p>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Club:</label>
                        <select class="form-select" name="club">
                            {{#each clubs}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Position:</label>
                        <select class="form-select" name="position">
                            {{#each positions}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Is Captain:</label>
                        <select class="form-select" name="isCaptain">
                            {{#each captain}}
                            <option value="{{this.value}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Nation:</label>
                        <select class="form-select" name="nations">
                            {{#each nations}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        </div>
                        <div class="mb-3">
                        <label class="col-form-label">Goals:</label>
                        <input type="number" class="form-control" name="goals">
                        <p class="message-error"></p>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Image URL:</label>
                        <textarea class="form-control" name="image"></textarea>
                        <p class="message-error"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("#create-player-form");
        const nameInput = form.querySelector("input[name='name']");
        const goalsInput = form.querySelector("input[name='goals']");
        const descriptionInput = form.querySelector("textarea[name='description']");
        const imageInput = form.querySelector("textarea[name='image']");
        const errorTags = form.querySelectorAll(".message-error");

        form.addEventListener("submit", function (event) {
            event.preventDefault();
            const nameValue = nameInput.value.trim();
            const descriptionValue = descriptionInput.value.trim();
            const imageValue = imageInput.value.trim();
            const goalsValue = goalsInput.value.trim();

            if (!nameValue) {
                errorTags[0].textContent = "Please enter a name.";
            } else {
                errorTags[0].textContent = "";
            }

            if (!descriptionValue) {
                errorTags[1].textContent = "Please enter a description.";
            } else {
                errorTags[1].textContent = "";
            }

            if (!goalsValue) {
                errorTags[2].textContent = "Please enter goals.";
            } else {
                errorTags[2].textContent = "";
            }

            if (!imageValue) {
                errorTags[3].textContent = "Please enter an image URL.";
            } else if (!isValidImageUrl(imageValue)) {
                errorTags[3].textContent = "Please enter a valid image URL.";
            } else {
                errorTags[3].textContent = "";
            }

            if (nameValue && descriptionValue && imageValue && goalsValue && isValidImageUrl(imageValue)) {
                form.submit();
            }
        });

        function isValidImageUrl(url) {
            // This regex pattern matches URLs that end with a valid image file extension
            const imagePattern = /\.(gif|jpe?g|png|webp|bmp)$/i;
            return imagePattern.test(url);
        }
    });
</script>