<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>{{ title }}</title>
</head>

<body>
    {{> header}}
    {{> subbanner}}
    <section class="body-part-total float-start w-100">
        <div class="player-details-div-total py-5">
            <div class="top-detail-player">
                <div class="container">
                    <div class="row g-lg-5">
                        <div class="col-lg-4">
                            <figure>
                                <img src="{{player.image}}" alt="{{player.name}}">
                            </figure>
                        </div>
                        <div class="col-lg-8">
                            <div class="player-details-div">
                                <h2 class="common-heading m-0">{{player.name}}</h2>
                                <span class="d-block mt-2">
                                    {{player.position}}
                                </span>
                            </div>
                            <ul class="list-unstyled mt-2">
                                <li>
                                    <span>Team: </span>
                                    <span class="information">{{player.club}}</span>
                                </li>
                                <li>
                                    <span>Goals: </span>
                                    <span class="information"><i class="fa-sharp fa-solid fa-futbol"></i>
                                        {{player.goals}}</span>
                                </li>
                                <li>
                                    <span>Is Captain: </span>
                                    <span class="information">
                                        {{#if player.isCaptain}}<img class="captain-icon" src="/images/captain-icon.png"
                                            alt="captain-icon"> Captain {{else}} Not a captain {{/if}}</span>
                                </li>
                                <li>
                                    <span>Nation: </span>
                                    <span class="information">
                                        <img class="captain-nation" src="{{player.nations.image}}" alt="captain-icon">
                                </li>
                            </ul>
                            <h1 class="common-heading m-0 mb-3">Description</h1>
                            <p class="player-description">{{player.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> footer}}
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>